<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
  <div class="container">
    <div class="row">
      <tr th:each="item : ${items}">
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex gap-3">
                <div class="object-image">
                  <i class="bi bi-folder text-warning fs-1" th:if="${item.getItem().isDir()}"></i>
                  <i class="bi bi-file-earmark text-info fs-1"
                     th:unless="${item.getItem().isDir()}"></i>
                </div>
                <div class="object-info">
                  <h5 th:text="${item.getName()}">Object name</h5>

                  <div th:if="${item.getItem().isDir()}">
                    <a class="btn btn-primary" th:href="@{/(path=${item.getUrl()})}">Open</a>
                  </div>

                  <div th:unless="${item.getItem().isDir()}">
                    <div class="row">
                      <div class="col">
                        <button type="button" class="btn btn-primary"
                                th:data-bs-toggle="modal"
                                th:attr="data-bs-target='#exampleModal' + ${item.getId()}"
                                data-bs-whatever="@getbootstrap">
                          Rename
                        </button>
                      </div>

                      <div class="modal fade"
                           th:id="exampleModal + ${item.getId()}"
                           tabindex="-1"
                           aria-labelledby="exampleModalLabel"
                           aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">
                                Rename</h1>
                              <button type="button" class="btn-close"
                                      data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form method="post" th:action="@{/rename}">
                                <div class="mb-3">
                                  <input class="form-control"
                                         id="oldName"
                                         name="oldName"
                                         type="hidden"
                                         th:placeholder="${item.getName()}"
                                         th:value="${item.getUrl()}"
                                         readonly
                                  >
                                </div>
                                <div class="mb-3">
                                  <label for="newName" class="col-form-label">New
                                    name:</label>
                                  <input class="form-control" id="newName"
                                         name="newName">
                                </div>
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Ok
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <form class="form" method="post"
                              th:action="@{/delete(query=${item.getUrl()})}">
                          <button class="btn btn-danger">Delete</button>
                        </form>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </div>
  </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>