<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="searchContent">
  <div class="container">
    <div class="row">
      <tr th:each="item : ${searchResult}">
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex gap-3">
                <div class="object-image">
                  <i class="bi bi-folder text-warning fs-1" th:if="${item.getItem().isDir()}"></i>
                  <i class="bi bi-file-earmark text-info fs-1"
                     th:unless="${item.getItem().isDir()}"></i>
                </div>
                <div class="object-info">
                  <h5 th:text="${item.getName()}">Object name</h5>
                  <div class="row">
                    <div class="col">
                      <a class="btn btn-warning" th:href="@{/(path=${item.getUrlWithoutName()})}">Open
                        in folder</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </tr>
  </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>