<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Cloud Storage</title>
  </head>
  <body>
    <nav class="navbar navbar-static-top navbar-light bg-body-tertiary mb-5">
      <div class="container-fluid ms-4">
        <a class="navbar-brand" href="#">Icon</a>

        <!-- Search -->
        <form class="d-flex input-group w-auto" method="get" action="#">
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button class="btn btn-primary" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>

        <!-- Logout -->
        <form class="me-4" th:action="@{/logout}" th:method="post">
          <span class="form-text me-1">Username</span>
          <button type="submit" class="btn btn-warning">Logout</button>
        </form>
      </div>
    </nav>

    <div th:if="${objects}">
        <p th:each="object : ${objects}" th:text="${object.get().objectName()}">Object</p>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
